<h1>Calendars#show</h1>
<p>Calendar successfully created</p>
 <h2>Title =><%= @calendar.title %></h2>
 <h2> Share your calendar => <a href="<%= @calendar.token_read %>">this url</a></h2>
<h2> To create or modify events in your Calendar  => <a href="<%= @calendar.token_write %>">this url </a></h2>

<% if @calendar.writable %>
<%= link_to 'Edit', @root %>
<% end %>
