<hgroup>
  <h1>{{calendarTitle}}</h1>
  <h2>{{calendarDescription}}</h2>
</hgroup>
<nav>
<ul>
  <li>Create</li>
  <li>Export</li>
  {{#if isEdit}}
    <li>Share</li>
  {{/if}}
</ul>
</nav>

<div class="clear"></div>
