<hgroup>
	<h1>{{calendarTitle}}</h1>
	<h2>{{calendarDescription}}</h2>
</hgroup>
<nav>
	{{#if isEdit}}
	<ul>
		<li>create</li>
		<li>Export</li>
		<li>Share</li>
	</ul>
	{{else}}
	<ul>
		<li>create</li>
		<li>Export</li>
	</ul>
	{{/if}}
</nav>

<div class="clear"></div>