/* main styling goes here */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);

html, 
body {
	height: 100%
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;

  font-family: 'Source Sans Pro';
  font-size: 15px;
}

#wrapper {
	position: relative;
	min-height: 100%
}

header {
	width: 100%;
	position: relative;
	height: 150px;
	
	nav {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

section {
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
	h1 {
		font-size: 2em;
	}
}

footer {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	height: 20px;
	width: 100%;
}
